[user]
	email = j.a.lapolla@gmail.com
	name = Justin LaPolla
[core]
	autocrlf = input
	editor = vim
	safecrlf = true
	excludesfile = ~/.gitignore_global
[color]
	branch = auto
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[push]
	default = simple
[alias]
	lograph = log --graph --date=short --pretty='%h %cd %s <%ae>'
[color "branch"]
	upstream = cyan
